<%= simple_form_for(@user, url: meals_path(@user), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="">
      <h2>Setup</h2>
      <p>Set your preferred meeting day, time, and place.</p>
      <%= f.label :tod_morning_early %>
      <%= f.check_box :tod_morning_early %>
      <%= f.label :tod_morning_middle %>
      <%= f.check_box :tod_morning_middle %>
      <%= f.label :tod_morning_late %>
      <%= f.check_box :tod_morning_late %>
    </div>
  </div>

  <div class="row">
    <div class="">
      <%= f.label :dow_monday %>
      <%= f.check_box :dow_monday %>
      <%= f.label :dow_tuesday %>
      <%= f.check_box :dow_tuesday %>
      <%= f.label :dow_wednesday %>
      <%= f.check_box :dow_wednesday %>
      <%= f.label :dow_thursday %>
      <%= f.check_box :dow_thursday %>
      <%= f.label :dow_friday %>
      <%= f.check_box :dow_friday %>
      <%= f.label :dow_saturday %>
      <%= f.check_box :dow_saturday %>
      <%= f.label :dow_sunday %>
      <%= f.check_box :dow_sunday %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
