<%= simple_form_for(@user, url: meals_path(@user), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>

  <h2>Set up a meeting for <%= Date::DAYNAMES[Chronic.parse('tomorrow').wday] %></h2>

  <div class="row">
    <div class="">
      <p>Set your topic.</p>
      <%= f.input :topics, autofocus: true, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="">
      <p>Set your time.</p>
      <%= f.label :tod_morning_early %>
      <%= f.check_box :tod_morning_early %>
      <%= f.label :tod_morning_middle %>
      <%= f.check_box :tod_morning_middle %>
      <%= f.label :tod_morning_late %>
      <%= f.check_box :tod_morning_late %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
